
 body {
      font-family: simplifica;
      background: url(../images/aesthetic1.jpg);
      font-size: 1.5em;
  }

.col-sm-4 {
    position: relative;
}

.img-thumbnail {
  opacity: 1;
  display: block;
  width: 100%;
  height: 300px; 
  margin-right: 3%;
  margin-bottom: 5%;
  transition: .5s ease;
  backface-visibility: hidden;
}

#lnkbtn {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  border: none;
  background: none;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.col-sm-4:hover .img-thumbnail{
  opacity: 0.3;
}

.col-sm-4:hover #lnkbtn {
  opacity: 1;
}

.text {
  background-color: #1ABC9C;
  color: black;
  font-size: 22px;
  padding: 16px 32px;
}





p {
    font-size: 16px;
  }

 #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #1ABC9C ;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}

h1{ 
	font-size: 2em;
    text-align: center;
    font-family: simplifica;
    letter-spacing: 0.75em;
}

h4{
  font-size:1.7em;
  text-align: center;
  font-family: simplifica;
}